@model IEnumerable<PI6_HelpDesk.Models.TBL_ROL>

@{
    ViewBag.Title = "Mantenimiento";
}

<h2>Mantenimiento Tabla ESTADOS</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table table-bordered table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ROL_DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROL_ADD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_ESTADO.EST_DESCRIPCION)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ROL_DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROL_ADD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TBL_ESTADO.EST_DESCRIPCION)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ROL_ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ROL_ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ROL_ID })
            </td>
        </tr>
    }

</table>
