@model PI6_HelpDesk.Models.TBL_ESTADO

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta seguro de eliminar este registro?</h3>
<div>
    <h4>TBL_ESTADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EST_DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_ADD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_ADD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("REGRESAR", "Index")
        </div>
    }
</div>
