@model PI6_HelpDesk.Models.TBL_INCIDENTE

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>TBL_INCIDENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INC_FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_VIGENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_VIGENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_NUMTICKET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_NUMTICKET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_COMENTARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_COMENTARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_TIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_TIPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_ADD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_ADD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_ESTADO.EST_DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_ESTADO.EST_DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_PRIORIDAD.PRI_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_PRIORIDAD.PRI_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_USUARIO.USU_LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_USUARIO.USU_LOGIN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.INC_ID }) |
    @Html.ActionLink("REGRESAR", "Index")
</p>
